<?xml version="1.0" encoding="UTF-8"?>
<!-- Unpack the *-ctl-scripts.zip archive in the TE_BASE/scripts directory -->
<!-- Add this entry to TE_BASE/config.xml (//organization/standard) -->
<organization>
  <name>OGC</name>
  <standard>
    <name>OGC Web Service Security Client</name>
    <version>
      <name>${spec-version}</name>
      <suite>
        <namespace-uri>http://www.opengis.net/cite/security-client10</namespace-uri>
        <prefix>tns</prefix>
        <local-name>ets-${ets-code}-${version}</local-name>
        <title>OGC Web Service Security Client (OGC-17-007) Conformance Test Suite</title>
        <description>Checks OGC Web Service Security 1.0 Client implementations for conformance to OGC-17-007.</description>
      </suite>
      <revision>
        <name>${project.version}</name>
        <status>Beta</status>
        <sources>
          <source>security-client10/${spec-version}/ctl</source>
        </sources>
        <webdir>security-client10/${spec-version}/site</webdir>
      </revision>
    </version>
  </standard>
</organization>
