<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="${ets-code}-${project.version}" verbose="0" configfailurepolicy="continue">
  <parameter name="service_type" value=""/>
  <parameter name="serverUrl" value=""/>
  <parameter name="jks_path" value=""/>
  <parameter name="jks_password" value=""/>
  <parameter name="authentication" value=""/>
  <parameter name="idp_url" value=""/>
  <parameter name="http_methods" value=""/>

  <listeners>
    <listener class-name="org.opengis.cite.securityclient10.TestRunListener" />
    <listener class-name="org.opengis.cite.securityclient10.SuiteFixtureListener" />
    <listener class-name="org.opengis.cite.securityclient10.TestFailureListener" />
  </listeners>

  <test name="Conformance Level Common Security">
    <packages>
      <package name="org.opengis.cite.securityclient10.levelCommonSecurity" />
    </packages>
    <classes>
      <class name="org.opengis.cite.securityclient10.SuitePreconditions" />
    </classes>
  </test>
  <test name="Conformance Level WMS 1.1.1">
    <packages>
      <package name="org.opengis.cite.securityclient10.levelWms111" />
    </packages>
    <classes>
      <class name="org.opengis.cite.securityclient10.SuitePreconditions" />
    </classes>
  </test>
  <test name="Conformance Level WMS 1.3.0">
    <packages>
      <package name="org.opengis.cite.securityclient10.levelWms13" />
    </packages>
    <classes>
      <class name="org.opengis.cite.securityclient10.SuitePreconditions" />
    </classes>
  </test>
  <test name="Conformance Level OWS Common">
    <packages>
      <package name="org.opengis.cite.securityclient10.levelOwsCommon" />
    </packages>
    <classes>
      <class name="org.opengis.cite.securityclient10.SuitePreconditions" />
    </classes>
  </test>
  <!-- Add test sets for other conformance classes/levels -->
</suite>
